:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: var(--txt-main-color);
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

#root {
	overflow: hidden;
	height: 100vh;
}

@supports (height: 100dvh) {
	#root {
		height: 100dvh;
	}
}

a {
	font-weight: 500;
	color: var(--accent-color);
	text-decoration: inherit;
}

a:visited {
	color: var(--accent-color);
}

a:hover {
	color: var(--accent-color-500);
}

body {
	margin: 0;
	min-width: 320px;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
