.list {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
	overflow: auto;
}

.list::-webkit-scrollbar {
	display: none;
}

.list li:first-child {
	margin-left: 16px;
}

.last {
	min-width: 8px;
	min-height: 8px;
	color: transparent;
}
