.search {
	display: flex;
	align-items: center;
	padding: 6px 8px;
	margin: 0 16px 16px;
	gap: 8px;
	background-color: var(--search-background-color);
	border-radius: 10px;
}

.search span {
	font-size: 20px;
	color: var(--txt-color-400);
}
