.regular {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.compact {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: var(--txt-main-color);
}

.infoCompact {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}

.info p {
    font-size: 18px;
    font-weight: 800;
}

.info p img {
    display: inline-block;
    margin-left: 2px;
}
