.container {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	color: var(--txt-main-color);
	height: 100%;
}

.icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--accent-color);
}

.info {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.info p {
	font-size: 18px;
	font-weight: bold;
}

.info span {
	display: inline-block;
	margin-bottom: 8px;
	font-size: 14px;
}

.infoImage {
	margin-top: auto;
}
